extends layout

block content
<<<<<<< HEAD
    
    .container
        .soy-logo 
            img(src="./images/Soylent.svg")

        
        br
        h2 SoyBoy
        p #{SoyboyVal}%
        br
        h2 SoyBoy Beard
        p #{SoybeardVal}%

        br
        img(class="main-img" src=imgLocation style="width: 600px; height: 500px;")


 
 
=======
    h1 stuff


    br
    p Soylent detected:
    p #{SoyboyVal}%
    br
    p SoyBoy Beard detected:
    p #{SoybeardVal}%

    br
    img(src="./images/mat1.JPG" style="width: 600px; height: 500px;")
>>>>>>> 427ad0a4643a22ff6de265f4d044943a5ae94604
